[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = git@github.com:scrooloose/syntastic.git
[submodule "bundle/airline"]
	path = bundle/airline
	url = git@github.com:bling/vim-airline
[submodule "bundle/gitgutter"]
	path = bundle/gitgutter
	url = git@github.com:airblade/vim-gitgutter.git
[submodule "bundle/sensible"]
	path = bundle/sensible
	url = git@github.com:tpope/vim-sensible.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "bundle/commentary"]
	path = bundle/commentary
	url = git@github.com:tpope/vim-commentary.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = git@github.com:tpope/vim-surround.git
[submodule "bundle/ack"]
	path = bundle/ack
	url = git@github.com:mileszs/ack.vim.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = git@github.com:ctrlpvim/ctrlp.vim.git
[submodule "bundle/fugative"]
	path = bundle/fugative
	url = git@github.com:tpope/vim-fugitive.git
[submodule "commentary"]
	path = commentary
	url = git@github.com:tpope/vim-commentary.git
[submodule "bundle/airline-themes"]
	path = bundle/airline-themes
	url = git@github.com:vim-airline/vim-airline-themes.git
[submodule "bundle/ag"]
	path = bundle/ag
	url = git@github.com:rking/ag.vim.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = git@github.com:sjl/gundo.vim.git
